/*
File structure(mostly so I can find my way around after the refactor lol):

	- VERY generic props, h3/html ect
	- Options view styling
	- Side boxes
	- Finished Town view generic styling
	- Color variables
	- Coloring based on set as needed (multiple sections)

	NOTE: the order of the colors is by release year of the set, from oldest to newest:
		- Base
		- Expanding
		- Vactaion (this and Oktober came out same year so I went of vibes)
		- Oktoberfest
		- Winter
*/
* {
	font-family: "TantoFont";
}
@font-face {
	font-family: "TantoFont";
	src: url("../src/assets/Jua-Regular.ttf") format("truetype");
	font-weight: bold;
}
/* The heart background */
html {
	background-image: url("./assets/hearts.png");
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: auto;
	min-height: 100%;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
h3 {
	margin: 0;
}
/* The secret sauce to get the stupid black border when a select is active to disappear */
select:focus {
	outline: none;
}
/* footer */
.footer {
	background: pink;
	width: 100%;
	height: 80px;
	margin-top: 35px;
}
.footer-inner-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	height: 80px;
}
.footer-inner-container > div > a {
	text-decoration: none;
	color: rgb(255, 95, 95);
}
.heart-container {
	justify-content: center;
	align-items: center;
	display: flex;
}
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	backdrop-filter: blur(5px); /* Blur effect */
}
.modal-content {
	background-color: pink;
	border: 2px solid rgb(212, 100, 100);
	padding: 60px;
	width: 60%;
	border-radius: 8px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
}
.modal-link {
	text-decoration: none;
	color: rgb(212, 100, 100);
}
.modal-title {
	align-self: center;
}
.modal-button.button-74 {
	width: 20%;
	align-self: center;
}

.button-74.about-button {
	font-size: 12px;
	padding: 5px;
	margin: 10px;
}
/* ------------------------------------------------ Options view CSS --------------------------------------------------------*/
.tile-box {
	display: flex;
	align-items: normal;
	justify-content: left;
	padding: 1% 4%;
	border: 3px solid rgb(250, 146, 163);
	background-color: pink;
	flex-direction: column;
	width: 550px;
	margin: 10px 0px 10px 0px;
	border-radius: 20px;
}
.custom-select {
	display: inline-block;
	width: 100%;
	height: calc(2.25rem + 2px);
	padding: 0.375rem 1.75rem 0.375rem 0.75rem;
	line-height: 1.5;
	color: #495057;
	vertical-align: middle;
	background: #ffe1e6 url("/src/assets/single-heart.png") no-repeat right
		0.75rem center;
	background-size: 12px 12px;
	border: 1px solid #ffe1e6;
	border-radius: 0.25rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.custom-control {
	position: relative;
	display: block;
	min-height: 1.5rem;
	padding-left: 1.5rem;
}
.custom-control-input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.custom-control-label-check::before {
	position: absolute;
	top: 0.25rem;
	left: 0;
	display: block;
	width: 1rem;
	height: 1rem;
	pointer-events: none;
	content: "";
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #ffe1e6;
}
.custom-control-label-check::after {
	position: absolute;
	top: 0.25rem;
	left: 0;
	display: block;
	width: 1rem;
	height: 1rem;
	content: "";
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.custom-checkbox
	.custom-control-input:checked
	~ .custom-control-label-check::after {
	background-image: url("/src/assets/single-heart.png");
	background-size: 12px 12px;
}
.radio-check-input {
	width: 1em;
	height: 1em;
	margin-top: 0.25em;
	vertical-align: top;
	background-color: #fff;
	background-repeat: no-repeat;
	border-radius: 50%;
	background-position: center;
	background-size: contain;
	border: 1px solid rgba(255, 157, 180, 0.734);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.radio-check-input:checked {
	background-color: rgb(236, 129, 151);
	border-color: rgb(230, 107, 132);
}

.radio-check-input[type="radio"] {
	border-radius: 50%;
}
.radio-check-label {
	display: inline-block;
}
.form-check-input:checked[type="radio"] {
	background-image: url("./assets/single-heart.png");
}
.form-check .form-check-input {
	float: left;
	margin-left: -1.5em;
}

.choices-view-container {
	min-height: 92vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-top: 4%;
}
.title-wrapper {
	background: rgb(250, 146, 163);
	border-radius: 10px;
	height: fit-content;
	width: fit-content;
	padding: 1%;
	align-self: center;
	margin-bottom: 25px;
	margin-top: 10px;
}
/* Button styling */
.button-75 {
	align-items: center;
	background-image: linear-gradient(135deg, #ff8799 40%, pink);
	border: 0;
	border-radius: 10px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 700;
	height: 54px;
	justify-content: center;
	letter-spacing: 0.4px;
	line-height: 1;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}
.button-75:active {
	outline: 0;
}
.button-75:hover {
	outline: 0;
}
.button-75 span {
	transition: all 200ms;
}
.button-75:hover span {
	transform: scale(0.9);
	opacity: 0.75;
}
.button-container.stats-button {
	width: 40%;
	align-self: center;
	padding: 10px;
}
.button-75.stats-button {
	padding: 5px;
}
.button-74 {
	align-items: center;
	background-image: linear-gradient(-75deg, #f97287 20%, rgb(253, 167, 181));
	border: 0;
	border-radius: 10px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 700;
	height: 54px;
	justify-content: center;
	letter-spacing: 0.4px;
	line-height: 1;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}
.button-74:active {
	outline: 0;
}
.button-74:hover {
	outline: 0;
}
.button-74 span {
	transition: all 200ms;
}
.button-74:hover span {
	transform: scale(0.9);
	opacity: 0.75;
}
.button-container.stats-button {
	width: 40%;
	align-self: center;
	padding: 10px;
}
.stats-button-container {
	padding-top: 2%;
}
.button-75.stats-button {
	padding: 5px;
}
.banned-maids-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.banned-maids-tile > select {
	width: 65%;
	border: 1px solid pink;
	padding: 1%;
	border-radius: 10px;
}

.warning-box {
	display: flex;
	align-items: normal;
	justify-content: center;
	text-align: center;
	padding: 1% 4%;
	border: 3px solid rgb(220, 94, 115);
	background-color: rgb(254, 162, 177);
	flex-direction: column;
	width: 550px;
	margin: 10px 0px 10px 0px;
}
.warning-header-wrapper {
	background: rgb(220, 94, 115);
	color: rgb(251, 221, 226);
	border-radius: 10px;
	height: fit-content;
	width: fit-content;
	padding: 1%;
	align-self: center;
	margin-bottom: 25px;
	margin-top: 10px;
}
.tile-wrapper {
	display: grid;
}
/* Slant styling */
.slant-tile {
	display: flex;
	flex-direction: column;
}
.inner-slant-box {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 5px;
}
.tooltipText {
	font-style: italic;
	font-size: 12px;
	color: rgb(206, 119, 147);
}
.slant-title-wrapper {
	background: #ffa8b8;
	border-radius: 10px;
	height: fit-content;
	width: fit-content;
	padding: 1% 6%;
	font-size: 14px;
	align-self: center;
	margin-bottom: 1px;
	margin-top: 10px;
}
.text-12 {
	font-size: 14px;
}
.slant-box {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 5px;
}
.tile-box.remove-padding {
	padding: 1% 0%;
}
.nameDisplayList > li {
	list-style: none;
}
.nameDisplayList {
	margin: 0;
	padding: 10px;
}
.enabledName {
	color: white;
}
.disabledName {
	color: rgb(219, 145, 145);
}
/* -------------------------------------------------- Side Boxes ------------------------------------------------------- */
.right-fixed-box {
	position: absolute;
	right: 7px;
	top: 20%;
	background-color: rgb(211, 115, 131);
	padding: 20px;
	border-radius: 10px;
	color: white;
	max-width: 200px;
}
.left-fixed-box {
	position: absolute;
	left: 0;
	top: 20%;
	color: white;
	left: 7px;
	background-color: rgb(211, 115, 131);
	padding: 20px;
	border-radius: 10px;
}
.legend-set-box {
	align-items: center;
	flex-direction: row;
	display: flex;
}
.legend-set-title {
	margin-left: 5px;
}
.legend-heart-icon {
	height: 30px;
	width: 30px;
	align-items: center;
}
.align-center {
	align-self: center;
}
.state-box {
	align-items: first baseline;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}

.state-box > div {
	margin: 5% 1%;
}
.banned-card {
	font-size: 10px;
}

/*---------------------------------------------- Finished town view generic styling --------------------------------------------*/
.final-town-wrapper {
	display: flex;
	margin-top: 20px;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: calc(100vh - 22px);
}
.list-view-wrapper {
	width: 800px;
}
.list-view-grid {
	display: flex;
	flex-direction: column;
	width: 35%;
}
.heart-indicator.card-background {
	padding: 0;
	display: flex;
	flex-direction: column;
}
.set-heart-indicator {
	height: 30px;
	align-self: center;
	padding-bottom: 5px;
}
.button-75.list-view-button {
	padding: 10px;
	text-shadow: 1px 1px 2px rgb(255, 117, 117), 0 0 1em rgb(255, 192, 192),
		0 0 0.2em rgb(195, 144, 144);
	height: 30px;
	width: 100%;
	background-image: linear-gradient(
		160deg,
		var(--baseSetBackgroundColor) 50%,
		var(--expandingTheHouseBackgroundColor)
	);
}
.button-75.list-view-button.same-options {
	padding: 20px;
	height: 30px;
	background-image: linear-gradient(
		135deg,
		var(--oktoberfestBackgroundColor) 40%,
		var(--expandingTheHouseBackgroundColor)
	);
}
.button-75.list-view-button.new-town {
	padding: 20px;
	width: 100%;
	height: 30px;
	background-image: linear-gradient(
		135deg,
		var(--romanticVacationBackgroundColor) 1%,
		var(--winterRomanceBackgroundColor)
	);
}
.button-wrapper-state > .button-container {
	padding: 5px;
	width: 100%;
}
.inner-choices-container {
	flex: 1;
	padding-bottom: 50px;
}
.grid-wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
}
.list-view-card {
	width: 100%;
	align-self: center;
}
.list-view-card.base_set {
	background-color: #faa9b5;
}
.list-view-card.expanding_the_house {
	background-color: var(--expandingTheHouseBackgroundColor);
}
.list-view-card.romantic_vacation {
	background-color: rgb(194, 232, 246);
}
.list-view-card.oktoberfest {
	background-color: rgb(238, 173, 127);
}
.list-view-card.winter_romance {
	background-color: rgb(138, 166, 236);
}
.list-view-col-header {
	color: white;
	font-size: 24px;
	margin-left: -25px;
}
.legend-header {
	margin: 0;
}
.list-view-price-col {
	max-width: 10%;
	min-width: 10%;
	align-items: center;
}

.list-view-card,
.list-view-col-header {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 10px;
	margin-top: 4px;
}
.card-is-attack-card {
	color: red;
}
.card-is-chambermaid {
	text-decoration: underline;
}
.card-has-vp {
	color: rgb(255, 255, 255);
	text-shadow: #000 0px 0px 2px;
	-webkit-font-smoothing: antialiased;
}
.legend-line {
	margin-top: 35px;
}
.legend-for-list-view {
	width: 20%;
	margin-left: 40px;
	margin-top: 45px;
	background-color: #faa9b5;
	border-radius: 20px;
	padding: 2%;
}
/* The CSS for the extra stats view */
.lots-of-stats-container {
	background: pink;
	border-radius: 20px;
	padding: 2%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 6%;
	width: 60%;
}
.grid-container {
	display: grid;
	border-radius: 30px;
	grid-gap: 0px;
	grid-auto-flow: row;
	/* Remove fixed grid-template-columns if using dynamic inline styles */
	grid-template-areas: "ID Name Cost VP Love-Give Card-Draw Servings Employs Chambermaid Sister Beer-maid Events-required Rem-required Employ-effect Private-maids-required Promo";
}

.data-column > .header {
	background: rgb(255, 171, 171);
	font-size: 18px;
	color: white;
	text-align: center;
}
.data-column > div[class^="list-view"] {
	font-size: 18px;
	line-height: 1.5;
	border: 1px solid rgb(255, 255, 255);
}
div[class^="list-view"].base_set {
	background-color: #faa9b5;
}
div[class^="list-view"].expanding_the_house {
	background-color: var(--expandingTheHouseBackgroundColor);
}
div[class^="list-view"].romantic_vacation {
	background-color: rgb(194, 232, 246);
}
div[class^="list-view"].oktoberfest {
	background-color: rgb(238, 173, 127);
}
div[class^="list-view"].winter_romance {
	background-color: rgb(138, 166, 236);
}
.show {
	display: grid;
}
.hide {
	display: none;
}

.list-view-ID,
.list-view-Cost,
.list-view-VP,
.list-view-Love-Give,
.list-view-Card-Draw,
.list-view-Servings,
.list-view-Employs,
.list-view-Sister,
.list-view-Beer-maid,
.list-view-Events-required,
.list-view-Rem-required,
.list-view-Employ-effect,
.list-view-Private-maids-required,
.list-view-Promo,
.list-view-Chambermaid {
	text-align: center;
}

/* The base grid for the town cards */
.town-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 4px;
	background-color: pink;
	border-radius: 10px;
	padding: 40px;
	width: 1180px;
}
/* The grid that informs where everything in the created card should go */
.single-card-grid {
	width: 200px;
	padding-top: 5px;
	padding-left: 2px;
	height: 300px;
	display: grid;
	grid-template-columns: 0.4fr 2.2fr 0.4fr;
	grid-template-rows: 0.41fr 4.02fr 0.01fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"purchasePrice name VP"
		"image image image"
		"bottomSection bottomSection bottomSection"
		"bottomSection bottomSection bottomSection";
	align-content: center;
}
/* Set the areas of all of the icons within the card*/
.servings {
	grid-area: servings;
}
.card-draw {
	grid-area: card-draw;
}
.love {
	grid-area: love;
}
.employs {
	grid-area: employs;
}
/* Give the text of the properties on the card some breathing room from the SVGs */
.hasValue,
.hasNoValue {
	margin-right: 2px;
}
/* Set the icon sizes */
.iconEnabled > svg,
.iconDisabled > svg {
	width: 15px;
	height: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* The base of the card */
.card-background {
	width: 205px;
	border-radius: 10px;
}
.card-background.fake-card {
	margin: 35px 0 35px 0;
	padding: 2%;
	width: 205px;
	border-radius: 10px;
	padding-bottom: 20px;
}
.purchasePrice {
	grid-area: purchasePrice;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
}
/* Generic styling for the top section components */
.name {
	grid-area: name;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 5px;
}
.VP {
	grid-area: VP;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
}
.image {
	grid-area: image;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 4% 0 8px;
	border-radius: 5px;
	margin-bottom: 2px;
}
/* Bottom grid informing where componenets should go in the bottom section */
.bottomSection {
	display: grid;
	border-radius: 10px;
	grid-template-columns: 0.6fr 1.5fr 0.6fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"card-draw effects servings"
		"love effects employs";
	grid-area: bottomSection;
}
.effects {
	grid-area: effects;
	display: flex;
	justify-content: center;
	align-items: center;
}
.servings,
.card-draw,
.love,
.employs {
	display: flex;
	align-items: center;
	border-radius: 50px;
	padding: 2px;
	margin: 1px;
}

/* -------------------------------------------------- Color variables ------------------------------------------------------*/
* {
	--baseSetBackgroundColor: hsl(350, 100%, 88%);
	--baseSetLightAccentColor: #ffd1d9;
	--baseSetDarkAccentColor: #f7a0af;
	--baseSetIconEnabled: #fa81b5;
	--baseSetIconDisabled: #ffb3d4;

	--romanticVacationBackgroundColor: rgb(194, 232, 246);
	--romanticVacationDarkAccentColor: rgb(122, 210, 236);
	--romanticVacationLightAccentColor: rgb(216, 232, 237);
	--romanticVacationIconEnabled: rgb(13, 115, 146);
	--romanticVacationIconDisabled: rgb(96, 188, 216);

	--expandingTheHouseBackgroundColor: rgb(249, 232, 153);
	--expandingTheHouseDarkAccentColor: rgb(229, 196, 89);
	--expandingTheHouseLightAccentColor: rgb(255, 254, 214);
	--expandingTheHouseIconEnabled: rgb(190, 175, 90);
	--expandingTheHouseIconDisabled: rgb(221, 219, 181);

	--winterRomanceBackgroundColor: rgb(138, 166, 236);
	--winterRomanceDarkAccentColor: rgb(99, 128, 196);
	--winterRomanceLightAccentColor: rgb(199, 210, 251);
	--winterRomanceIconEnabled: rgb(89, 119, 194);
	--winterRomanceIconDisabled: rgb(151, 173, 228);

	--oktoberfestBackgroundColor: #eead7f;
	--oktoberfestDarkAccentColor: #c1774c;
	--oktoberfestLightAccentColor: rgb(193, 137, 104);
	--oktoberfestIconEnabled: rgb(156, 76, 19);
	--oktoberfestIconDisabled: rgb(229, 189, 161);
}

/*------------------------ Coloring for text and icons relating to card draw, love, employs and servings ------------------------*/
.iconEnabled.base_set {

	fill: var(--baseSetIconEnabled);
}
.iconDisabled.base_set {
	fill: var(--baseSetIconDisabled);
}
.hasValue.base_set {
	color: var(--baseSetIconEnabled);
}
.hasNoValue.base_set {
	color: var(--baseSetIconDisabled);
}
.iconEnabled.expanding_the_house {
	fill: var(--expandingTheHouseIconEnabled);
}
.iconDisabled.expanding_the_house {
	fill: var(--expandingTheHouseIconDisabled);
}
.hasValue.expanding_the_house {
	color: var(--expandingTheHouseIconEnabled);
}
.hasNoValue.expanding_the_house {
	color: var(--expandingTheHouseIconDisabled);
}
.iconEnabled.romantic_vacation {
	fill: var(--romanticVacationIconEnabled);
}
.iconDisabled.romantic_vacation {
	fill: var(--romanticVacationIconDisabled);
}
.hasValue.romantic_vacation {
	color: var(--romanticVacationIconEnabled);
}
.hasNoValue.romantic_vacation {
	color: var(--romanticVacationIconDisabled);
}
.iconEnabled.oktoberfest {
	fill: var(--oktoberfestIconEnabled);
}
.iconDisabled.oktoberfest {
	fill: var(--oktoberfestIconDisabled);
}
.hasValue.oktoberfest {
	color: var(--oktoberfestIconEnabled);
}
.hasNoValue.oktoberfest {
	color: var(--oktoberfestIconDisabled);
}
.iconEnabled.winter_romance {
	fill: var(--winterRomanceIconEnabled);
}
.iconDisabled.winter_romance {
	fill: var(--winterRomanceIconDisabled);
}
.hasValue.winter_romance {
	color: var(--winterRomanceIconEnabled);
}
.hasNoValue.winter_romance {
	color: var(--winterRomanceIconDisabled);
}

/* ---------------------------------------------- Card backgrounds coloring ---------------------------------------------------- */
.card-background.base_set {
	background-color: var(--baseSetBackgroundColor);
	border: 4px solid var(--baseSetDarkAccentColor);
}
.card-background.expanding_the_house {
	background-color: var(--expandingTheHouseBackgroundColor);
	border: 4px solid var(--expandingTheHouseDarkAccentColor);
}
.card-background.romantic_vacation {
	background-color: var(--romanticVacationBackgroundColor);
	border: 4px solid var(--romanticVacationDarkAccentColor);
}
.card-background.oktoberfest {
	background-color: var(--oktoberfestBackgroundColor);
	border: 4px solid var(--oktoberfestDarkAccentColor);
}
.card-background.winter_romance {
	background-color: var(--winterRomanceBackgroundColor);
	border: 4px solid var(--winterRomanceDarkAccentColor);
}
/*---------------------------------------------- Background colors for the icons -------------------------------------------*/
.love.base_set,
.servings.base_set,
.employs.base_set,
.card-draw.base_set {
	background-color: var(--baseSetLightAccentColor);
}
.love.expanding_the_house,
.servings.expanding_the_house,
.employs.expanding_the_house,
.card-draw.expanding_the_house {
	background-color: var(--expandingTheHouseLightAccentColor);
}
.love.romantic_vacation,
.servings.romantic_vacation,
.employs.romantic_vacation,
.card-draw.romantic_vacation {
	background-color: var(--romanticVacationLightAccentColor);
}
.love.oktoberfest,
.servings.oktoberfest,
.employs.oktoberfest,
.card-draw.oktoberfest {
	background-color: var(--oktoberfestLightAccentColor);
}
.love.winter_romance,
.servings.winter_romance,
.employs.winter_romance,
.card-draw.winter_romance {
	background-color: var(--winterRomanceLightAccentColor);
}
/* -------------------------------------------------- Frame for the image -------------------------------------------------------*/
.image.base_set {
	border: 4px solid var(--baseSetDarkAccentColor);
	border-bottom: 6px solid var(--baseSetDarkAccentColor);
}
.image.expanding_the_house {
	border: 4px solid var(--expandingTheHouseDarkAccentColor);
	border-bottom: 6px solid var(--expandingTheHouseDarkAccentColor);
}
.image.romantic_vacation {
	border: 4px solid var(--romanticVacationDarkAccentColor);
	border-bottom: 6px solid var(--romanticVacationDarkAccentColor);
}
.image.oktoberfest {
	border: 4px solid var(--oktoberfestDarkAccentColor);
	border-bottom: 6px solid var(--oktoberfestDarkAccentColor);
}
.image.winter_romance {
	border: 4px solid var(--winterRomanceDarkAccentColor);
	border-bottom: 6px solid var(--winterRomanceDarkAccentColor);
}
/* ---------------------------------------------- Coloring for top section -------------------------------------------------------*/
.purchasePrice.base_set,
.name.base_set,
.VP.base_set {
	background-color: var(--baseSetDarkAccentColor);
}
.name.expanding_the_house,
.purchasePrice.expanding_the_house,
.VP.expanding_the_house {
	background-color: var(--expandingTheHouseDarkAccentColor);
}
.name.romantic_vacation,
.purchasePrice.romantic_vacation,
.VP.romantic_vacation {
	background-color: var(--romanticVacationDarkAccentColor);
}
.VP.oktoberfest,
.name.oktoberfest,
.purchasePrice.oktoberfest {
	background-color: var(--oktoberfestDarkAccentColor);
}
.purchasePrice.winter_romance,
.name.winter_romance,
.VP.winter_romance {
	background-color: var(--winterRomanceDarkAccentColor);
}
/* -------------------------------------------------------- Animations for the optiosn view ------------------------------------------------------ */
.tile-enter {
	opacity: 0;
	transform: translateY(-20px);
}
.tile-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 300ms, transform 300ms;
}
.tile-exit {
	opacity: 1;
	transform: translateY(0);
}
.tile-exit-active {
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity 300ms, transform 300ms;
}
